@model Wypozyczalnia.Models.Samochod

@{
    ViewBag.Title = "Delete";
}

<h2>Zakonczenie wynajmu</h2>

<h3>Jestes pewny ze chcesz zakonczyc wynajem?</h3>
<div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Zakoncz Wynajem" class="btn btn-default" /> |
            @Html.ActionLink("Wroc", "Index")
        </div>
    }
</div>
