@model Wypozyczalnia.Models.Powiadomienie

@{
    ViewBag.Title = "Usun powiadomienie";
}

    <h2>Usun powiadomienie @Html.DisplayFor(model => model.Tytul)</h2>

<h3>Jestes pewien ze chcesz usunac to powiadomienie?</h3>
<div>
    <hr />
   
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Wroc", "Index", null , new { @class = "btn btn-info" })
            <input type="submit" value="Usun" class="btn btn-danger" />
        </div>
    }
</div>
