@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Ta strona jest stworzona jako projekt z Inzynierii Oprogramowania
    <br /> przez: <strong>Team Mieszalnik</strong>
</p>
