@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wypozyczalnia Mieszalnik</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Oferta 1</h2>
        <p>
            Tutaj bedzie oferta jakas (i zdjecie)
        </p>
        <p>@Html.ActionLink("(zdjecie)Oferta", "About", "Home")</p>
    </div>
</div>